.container {
    display: flex;
    justify-content: center;
}

.main {
    background-color: rgb(240, 165, 210);
    position: absolute;
    top: 10rem;
    width: 18rem;
    height: 25rem;
    box-shadow: 5px 5px 10px rgb(157, 39, 241) ;
    animation: colorchange 5s linear 1s infinite normal;
    cursor: pointer;
}

@keyframes colorchange{
    0% {
        box-shadow: 5px 5px 10px magenta;
    }
    20% {
        box-shadow: 5px 5px 10px blue;
    }
    40% {
        box-shadow: 5px 5px 10px cyan;
    }
    60% {
        box-shadow: 5px 5px 10px green;
    }
    80% {
        box-shadow: 5px 5px 10px yellow;
    }
    100% {
        box-shadow: 5px 5px 10px red;
    }
}

h2 {
    text-align: center;
    color: white;
    position: relative;
    padding-top: 1.5rem;
}
.input {
    display: flex;
    background-color: rgb(189, 188, 188);
    border-radius: 1rem;
    border: 1px solid white;
    padding: 0.3rem;
    padding-left: 10px;
    margin-top: 1rem;
    position: relative;
    margin-left: 2rem;
    width: 12rem;
}

input {
    position: relative;
    margin-left: 1.6rem; 
    margin-top: 0.5rem;
}

label {
    font-size: small;

}

p {
    text-align: center;
    font-size: small;
}

span {
    margin-top: 1rem;
    text-align: end;
    padding-left: 2rem;
    font-size: small;
}

span:hover {
    text-decoration: underline;
}

bold:hover {
    text-decoration: underline;
}

button {
    display: block;
    width: 13rem;
    padding: 0.3rem;
    border-radius: 1rem;
    border: 1px solid white;
    text-align: center;
    margin-top: 1rem;
    background-color: white;
    position: relative;
    margin-left: 3rem;
}